<h1>Calculate the payment</h1>

<form action="/payment/results">
<div>
  <label for="apr">APR</label>
  <input id="apr" type="text" name="annual_percentage_rate">
</div>

<div>
  <label for="years">Number of years</label>
  <input id="years" type="text" name="number_of_periods_remaining">
</div>

<div>
  <label for="principal">Principal</label>
  <input id="principal" type="text" name="principal">
</div>
  <button>Calculate monthly payment</button>
</form>
