<h1>Enter Random Numbers</h1>

<form action="/random/results">
  <label for="min">Enter the minimum</label>
  <input id="min" type="text" name="first_number">

  <label for="max">Enter the maximum</label>
  <input id="max" type="text" name="second_number">
  <button type="submit">Pick random number</button>
</form>
