<form action="/random/results">
<div>
  <label for="min">Minimum:</label>
  <input id="min" type="text" name="first_number">
</div>

<div>
  <label for="max">Maximum:</label>
  <input id="max" type="text" name="second_number">
</div>

  <button type="submit">Pick random number</button>
</form>
